/* Path: src\views\adm\css\login.css */
/* CSS DA PÁGINA DE LOGIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url(../../img/svgs/login-background.svg) no-repeat center;
    background-size: cover;
}

.logo-sec .logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: (100vw * 0.25);
    height: (100vh * 0.25);
}

.title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 700;
    padding: 12px 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 8px 0;
}

.esqueceusenha {
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 14px;
    font-weight: 600;
    margin: 0 8px 0 0;
}

.colab a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 50px;
    border: none;
    border-radius: 70px;
    background-color: #004cbd;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 8px 0;
    transition: 0.5s;
}
