.add-sec-area{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.add-sec-area button{
    background-color: #79c9ff;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    color: #fff;
}

.set-container{
    width: 60vw;
    margin: auto;
    height: 400px;
}

.setor{
    display: flex;
    height: 38px;
    gap: 15px;
    margin-bottom: 20px;
}
.name{
    width: 60%;
    background-color: #DBE0EA;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    border-radius: 15px;
    color: #888;
    font: 700;
}
.botoes{
    width: 40%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
   
}

.botoes a{
    height: 38px;
    width: 48%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700;
    font-size: 17px;
    color: #fff;
}

.botoes a:hover{
    color: #fff;
}

.del{
    background-color: #DB6363;
}

.edit{
    background-color: #4A7DFF;
}

.novo-set, .edit-set{
    display: none;
    height: 300px;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
}
.header{
    background-color: var(--default_blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: #fff;
    padding: 20px;
}
.modal-container{
    padding: 20px;
}
.modal-container form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal-container .info{
    background-color: #DBE0EA;
    border: none;
    margin-bottom: 20px;
    height: 40px;
    width: 80%;
    border-radius: 15px;
    padding: 20px;
    font-size: 16px;

}

.button-enviar{
    border: none;
    background-color: #4A7DFF;
    color: #fff;
    font: bold;
    font-size: 20px;
    height: 35px;
    width: 200px;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s all;
}

.button-enviar:hover{
    background-color: #95b1f8;
}