/* CSS DA PÁGINA CENTRAL DE COLABORADOR (ONDE ELE RECEBE AS ATIVIDADES) */

:root {
    --default_blue: #626ABA;
    --default_black: #333333;
    --default_white: #DBE0EA;
    --task_concluded: #71B15A;
    --task_paused: #DFBD0C;
    --task_progress: #17A1FA;
    --task_overdue: #E05D5D;
}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


label {
    font-weight: 500;
    font-size: 18px;
}

input,
textarea {
    border-radius: 24px;
    border: none;
    background-color: #DBE0EA;
    color: black;
}

.cardTarefa {
    background-color: #e8e5e5;
    border-radius: 20px;
    min-width: 25%;
}

.titleTarefa {
    font-size: 1.7em;
    font-weight: 600;
    color: white;
}

.headTask{
    position: relative;
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding: 5%;
}

.inputArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 10px 16px;
}


.inputArea input, .inputArea textarea{
    font-size: 16px;
}


.respon input {
    width: 100%;
    padding: 8px;
    font-size: 17px;
}

.prazo input {
    padding: 8px;
}

.status input {
    padding: 8px;
    color: #fff;
}


.descricao textarea {
    padding: 8px;
    width: 100%;
    min-height: 115px;
    resize: vertical;
    text-align: justify;
}

.observ textarea {
    padding: 8px;
    width: 100%;
    min-height: 115px;
    resize: vertical;
    text-align: justify;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    color: white;
    background-color: #626ABA;
    padding: 8px;
    font-size: 1em;
    border: none;
    border-radius: 18px;
    width: 25%;
    margin: 12px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.buttons a:hover {
    background-color: #8589b1;
}

/*classes que mudam a cor da tarefa de acordo com o status*/



.cor-naoIniciada{
    background-color: #C8CBC7;
}
.cor-emAndamento{
    background-color:var(--task_progress);
}
.cor-pausada{
    background-color:var(--task_paused);
}
.cor-atrasada{
    background-color:var(--task_overdue);
}
.cor-finalizada{
    background-color:var(--task_concluded) ;
}