<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../general/css/main.css">
        <link rel="stylesheet" href="../css/login_colabora.css">
        <title>SISGER</title>
    </head>
    <body>
        <main>
            <div class="logo-sec">
                <img src="../../../assets/svgs/logo.svg" class="logo-img">
            </div>
            <div class="title-text">
                Fazer login como Colaborador
            </div>
            <div class="login-form">
                <form action method="post">
                    <div class="email ">
                        <input type="email" name="email"
                            placeholder="E-Mail" id="email"
                            class="input-area">
                    </div>
                    <div class="senha ">
                        <input type="password" name="senha"
                            placeholder="Senha..." id="senha"
                            class="input-area">
                    </div>
                    <div class="esqueceusenha text-btn">
                        <a href="#">Esqueceu a senha?</a>
                    </div>
                    <div class="colab text-btn">
                        <a href="login.html">Fazer login como Colaborador</a>
                    </div>
                    <div class="submit-btn btn">
                        <button type="submit" name="submit" class="submi">Entrar</button>
                    </div>
                    <!-- <div class="register-btn btn">
                        <button type="submit" name="submit" class="regis">Criar conta</button>
                    </div> -->
                </form>
            </div>
        </main>
    </body>
</html>